.registration-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
.banner {
    background-color: #f57c00;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}

.banner-subtext {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0px;
}

.banner button {
    background-color: white;
    color: #f57c00;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

    .banner button:hover {
        background-color: #f57c00;
        color: white;
        border: 2px solid white;
    }
h1 {
    font-size: 36px;
    text-align: center;
    color: #f57c00;
    margin-bottom: 20px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-size: 18px;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.register-btn {
    background-color: #f57c00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.reset-btn {
    background-color: #ccc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

    .register-btn:hover {
        background-color: #e57000;
    }

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.student-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .student-list th,
    .student-list td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .student-list th {
        background-color: #f57c00;
        color: white;
    }
.form-actions {
    display: flex;
    gap: 10px;
}


    .student-list tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .student-list tr:hover {
        background-color: #f1f1f1;
    }
